ENV_PLEX_CLAIM=
ENV_PRIMARY_PATH=/srv/dev-disk-by-uuid-a
ENV_SECONDARY_PATH=/srv/dev-disk-by-uuid-b
ENV_EMAIL=
ENV_SMTP_PASSWORD=
MARIADB_PASSWORD=
DOMAIN=example.ro
PHOTOPRISM_ADMIN_PASSWORD=
COMPOSE_PROJECT_NAME=nas
NAME=
SURNAME=
